<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">

		<!-- Make sure to actually insert the sad_sun image sometime -->
	    <link rel="icon" href="{{url_for('static', filename='sad_sun.png')}}">

        <title>Hot Tub</title>
	</head>
	
	<body>
		<img src="{{ temperature_map }}">
		<div class="container text-center container-fluid">
		  <h1 class="display-3">Hot Tub</h1>
		  <p class="lead">The world is on fire.</p>
		  <hr class="my-4">
		  <p class="lead">
		  </p>
		<div>		  
		
		<!--
		<div class="footer-copyright py-3 text-center">
              <div class="container-fluid">
                  © 2018 Copyright: Matthew Bass, Kai Fleischman, Michael Lobsenz, Jonathon Martin, Arvind Raghavan
      
              </div>
         </div>
		-->
	</body>
</html>
